<div ng-controller="exploreController">
	<div ng-if="error.msg" style="color: red;">{{error.msg}}</div>
	<div ng-if="success.msg && !error.msg" style="color: green;">{{success.msg}}</div>

	<h1> Explore</h1>
	<div  class="container-fluid" >
		<div class="row">
			<div class="col-md-3">
				Primary Search By: <br> 
				<select class="form-control" ng-model="search.primary" ng-change="setPrimarySearchArray()">
			    	<option ng-selected="!search.primary" value=false>---View Catagories---</option>
			        <option value="{{catagory.name}}" ng-repeat="catagory in catagories">{{catagory.name.toTitleCase()}}</option>
			    </select>
			</div>

			<div class="col-md-3">
				{{search.primary.toTitleCase()}} Value:
				<div ng-if="primarySearch.length">
					<select class="form-control" ng-model="search.value">
				    	<option ng-selected="!search.value" value=false>---View {{search.primary.toTitleCase()}}---</option>
				        <option value="{{value.name}}" ng-repeat="value in primarySearch">{{value.name.toTitleCase()}}</option>
					</select>
				</div> <br>
			</div>
			<div class="col-md-3">
				Primary Order By: <br> 
				<select class="form-control" ng-model="search.order">
			        <option value="{{column}}" ng-repeat="column in experimentColumns">{{column.toTitleCase()}}</option>
			    </select>
			</div>
			<div class="col-md-3" style="height: 100px; overflow: scroll;">
				Display Columns: <br>
				Catagories <br>
				<div class="checkbox" ng-repeat="column in experimentColumns">
					<label>
						<input type="checkbox" ng-model="searchDisplay[column]"> {{column.toTitleCase()}}
					</label>
				</div><br>
				Tags <br>
				<div class="checkbox" ng-repeat="tag in tags">
					<label>
						<input type="checkbox" ng-model="searchDisplay[tag.name]"> {{tag.name.toTitleCase()}}
					</label>
				</div><br>
				Measures<br>
				<div class="checkbox" ng-repeat="measure in measures">
					<label>
						<input type="checkbox" ng-model="searchDisplay[measure.name]"> {{measure.name.toTitleCase()}}
					</label>
				</div><br>
			</div>
			<p class="btn btn-primary" ng-click="search()" ng-if="search.primary && search.value && !searched">Search</p>
			<p class="btn btn-warning" ng-click="clearSearch()" ng-if="searched"> Clear Search</p>
		</div>
		<div class="row" ng-if="searchResult.length">
			Paste: <br> <b> {{query}} </b> <br>
			<a href="https://dataclips.heroku.com/clips/new?autosave=true">  To Create Dataclip</a> <br>
			<div ng-repeat="column in experimentColumns" class="col-md-2" ng-if="searchDisplay[column]">
				<b>{{column.split('_').join(' ').toTitleCase()}} </b><br>
				<div ng-repeat="result in searchResult">
					<t ng-if="column!=='inlet_concentration'">{{result[column]}}</t>
					<t ng-if="column==='inlet_concentration'">{{result.conc_inlet}}</t>
				</div>
			</div>
			<div ng-repeat="column in measureColumns" class="col-md-2" ng-if="searchDisplay[column]">
				<b>{{column.split('_').join(' ').toTitleCase()}} </b> <br>
				<div ng-repeat="result in searchResult">
					{{result[getMeasureColumnName(column)]}}
				</div>
			</div>
			<div ng-repeat="column in tagColumns" class="col-md-2" ng-if="searchDisplay[column]">
				<b>{{column.split('_').join(' ').toTitleCase()}} </b><br>
				<div ng-repeat="result in searchResult">
					{{result[getMeasureColumnName(column)]}}
				</div>
			</div>
		</div>
	</div>
</div>