<div ng-controller="qcmController">

	<div ng-if="error.msg" style="color: red;">{{error.msg}}</div>
	<div ng-if="success.msg && !error.msg" style="color: green;">{{success.msg}}</div>


	<div ng-if="loading.experimentUpdate">
		<div ng-if="!(loaded.experimentUpdate && added.experimentTags && added.experimentMeasures)"> <h1> Updating Experiment <b> {{editExperiment.id}} </b></h1></div>
		<div ng-if="loaded.experimentUpdate && added.experimentTags && added.experimentMeasures"> <h1> Updated Experiment <b> {{editExperiment.id}} </b></h1></div>

		Experiment Updated: <b>{{loaded.experimentUpdate}}</b><br>
		Tags Updated: <b>{{added.experimentTags}}</b><br>
		Measures Updated <b> {{added.experimentMeasures}}</b><br>

		<div ng-if="loaded.experimentUpdate && added.experimentTags && added.experimentMeasures">
			Experiment {{editExperiment.id}} Updated
			<p class="btn btn-primary" ng-click="resetLoadingScreen()"> Back </p>
		</div>

	</div>

	<div ng-if="loading.experimentEdit">

		<div ng-if="!(loaded.experiment && loaded.parametersPlaced)"> <h1> Loading Experiment <b> {{editExperiment.id}} </b></h1></div>
		<div ng-if="loaded.experiment && loaded.parametersPlaced"> <h1> Loaded Experiment <b> {{editExperiment.id}} </b></h1></div>

		Loaded Experiment: <b> {{loaded.experiment}} </b><br>
		Wrote Parameters: <b> {{loaded.parametersPlaced}} </b><br>
		Wrote Tags: <b> {{loaded.tagsPlaced}} </b><br>
		Wrote Measures <b> {{loaded.measuresPlaced}} </b><br>

		<div ng-if="loaded.experiment && loaded.parametersPlaced && loaded.tagsPlaced && loaded.measuresPlaced">
			Experiment Loaded
			<p class="btn btn-primary" ng-click="resetLoadingScreen()"> Back </p>
		</div>
	</div>

	<div ng-if="loading.experimentAdd">
		<div ng-if="!(added.experiment && added.experimentTags && added.experimentMeasures)"><h1>Adding Experiment... Please Wait</h1></div>
		<div ng-if="added.experiment && added.experimentTags && added.experimentMeasures"><h1>Experiment Added</h1></div>

		Added Experiment: <b>{{added.experiment}} </b><br>
		Added Experiment Tags: <b>{{added.experimentTags}} </b> <br>
		Added Experiment Measures: <b>{{added.experimentMeasures}} </b> <br> 

		<div ng-if="added.experiment && added.experimentTags && added.experimentMeasures">
			Rember This Experiments Unique ID: <b> {{experimentID}} </b><br>
			<p class="btn btn-primary" ng-click="resetLoadingScreen()"> Go Back</p>
		</div>

	</div>

	<div id="upload" class="container-fluid" ng-if="!loading.experimentAdd && !loading.experimentEdit && !loading.experimentUpdate">
		<div class="row">

			<h1>Record Experiment Data: </h1>

			<h2> Edit Existing Experiment </h2>
			<input type="number" ng-model="editExperiment.id"> <p class="btn btn-primary" ng-click="loadExperiment()" ng-if="editExperiment.id"> Edit </p>
			<!--
		    	<input type="file" name="file" required="true" ng-model="para.file" /> <br>
			-->
			<h2> Experimental Parameters </h2>

			<div class="col-md-6">
				<h4>Description: </h4> <br>
				<textarea rows="4" cols="50" ng-model="para.desc"></textarea> 
				<br><br>

				<h4> Coating: </h4>
				<select class="form-control" ng-model="expCoating.name">
		        	<option ng-selected="!coating.name" value=false>---View Coatings---</option>
		            <option value="{{coating.name}}" ng-repeat="coating in coatings"ng-selected="expCoating.name===coating.name">{{coating.name.toTitleCase()}}</option>
		        </select>
				<p ng-if="!input.coating && !input.coatingEdit && !loading.coatingEdit" class="btn btn-primary" ng-click="showCoatingInput()"> Add coating</p>
				<p ng-if="!input.coating && !input.coatingEdit && expCoating.name && !loading.coatingEdit" class="btn btn-warning" ng-click="showCoatingEdit()">Edit {{expCoating.name}} Coating</p>

				<div ng-if="loading.coatingEdit">
					Loading Coating {{expCoating.name}}: <b> {{input.coatingEdit}} </b>
				</div>

				<div ng-if="loading.coatingUpdate">
					Updateing Coating {{expCoating.name}}: <b> {{loading.coatingUpdate}} </b>
				</div>

				<div ng-if="(input.coating || input.coatingEdit) && !loading.coatingEdit && !loading.coatingUpdate" id="addBox"> 

					<t ng-if="input.coating">New</t> <t ng-if="input.coatingEdit"> {{expCoating.name}} </t> Coating Info: <br><br>

					Name: <input type="text" ng-model="coatingPara.name"/><br> 
					Solvent: 

					<select class="form-control" ng-model="expSolvent.name">
		            	<option ng-selected="!expSolvent.name" value=false>---View Solvents---</option>
		                <option value="{{solvent.name}}" ng-repeat="solvent in solvents" ng-selected="expSolvent.name===solvent.name">{{solvent.name.toTitleCase()}}</option>
		            </select>
					<p ng-if="!input.solvent" class="btn btn-primary" ng-click="showSolventInput()"> Add Solvent</p>

					<div ng-if="input.solvent" id="addBox">
						New Solvent Info <br><br>

						Name: <input type="text" ng-model="solventPara.name"/><br>

						<p class="btn btn-primary" ng-click="addSolvent()"> Add Solvent</p>
						<p class="btn btn-primary" ng-click="cancelSolvent()"> Cancel</p>

					</div>

					<br>
					thickness: <input type="number" ng-model="coatingPara.thickness"/> [um] <br>
					thickness variability: <input type="number" ng-model="coatingPara.thickness_var"/> [um]<br>
					rms: <input type="number" ng-model="coatingPara.rms"/> [nm]<br> <br>

					<p ng-if="input.coating" class="btn btn-primary" ng-click="addCoating()"> Add Coating</p>
					<p ng-if="input.coatingEdit" class="btn btn-warning" ng-click="editCoating()">Edit {{expCoating.name}} Coating</p>
					<p class="btn btn-primary" ng-click="cancelCoating()"> Cancel</p>


				</div>
				<br><br>
				<h4> Solution: </h4>
				<select class="form-control" ng-model="expSolution.name">
		        	<option ng-selected="!solution.name" value=false>---View Solutions---</option>
		            <option  ng-repeat="solution in solutions" ng-selected="expSolution.name===solution.name" value="{{solution.name}}">{{solution.name.toTitleCase()}}</option>
		        </select>
				<p ng-if="!input.solution" class="btn btn-primary" ng-click="showSolutionInput()"> Add Solution</p>

				<div ng-if="input.solution" id="addBox">
					New Solution Info: <br><br>

					Name: <input type="text" ng-model="solutionPara.name"/><br>

					<p class="btn btn-primary" ng-click="addSolution()"> Add Solution</p>
					<p class="btn btn-primary" ng-click="cancelSolution()"> Cancel</p>

				</div>
				<br><br>
				<h4>Sensor: </h4> <br>
				<select class="form-control" ng-model="expSensor.name">
		        	<option ng-selected="!sensor.name" value=false>---View Sensors---</option>
		            <option value="{{sensor.name}}" ng-repeat="sensor in sensors" ng-selected="expSensor.name===sensor.name">{{sensor.name.toTitleCase()}}</option>
		        </select>
				<p ng-if="!input.sensor" class="btn btn-primary" ng-click="showSensorInput()"> Add Sensor</p>

				<div ng-if="input.sensor" id="addBox">
					New Sensor Info: <br><br>

					Name: <input type="text" ng-model="sensorPara.name"/><br>

					<p class="btn btn-primary" ng-click="addSensor()"> Add Sensor</p>
					<p class="btn btn-primary" ng-click="cancelSensor()"> Cancel</p>

				</div>

				<br><br>
				<h4>Module: </h4> <br> 

				<select class="form-control" ng-model="expModule.name">
		        	<option ng-selected="!module.name" value=false>---View Modules---</option>
		            <option value="{{module.name}}" ng-repeat="module in modules" ng-selected="expModule.name===module.name">{{module.name.toTitleCase()}}</option>
		        </select>
				<p ng-if="!input.module" class="btn btn-primary" ng-click="showModuleInput()"> Add Module</p>

				<div ng-if="input.module" id="addBox">
					New Module Info: <br><br>

					Name: <input type="text" ng-model="modulePara.name"/><br>

					<p class="btn btn-primary" ng-click="addModule()"> Add Module</p>
					<p class="btn btn-danger" ng-click="cancelModule()"> Cancel</p>

				</div>

				<br><br>
			</div>
			<div class="col-md-6">
				
				<h4> Inlet concentration: </h4> <input type="number" step="0.01" ng-model="para.conc" /> [ug/mL] <br>

				<h4> Flow Rate:</h4> <input type="number" ng-model="para.flow" /> [ul/min] <br>

				<h4> Classifier Tags: </h4> 

				<div ng-repeat="index in tagIndex">
					<div ng-if="!input.tag">
						<select class="form-control" ng-model="tagVals[index].name">
			            	<option ng-selected="!tagVals[index].name" value=false>---View Tags---</option>
			                <option value="{{tag.name}}" ng-repeat="tag in tags" ng-selected="tag.name===tagVals[index].name">{{tag.name.toTitleCase()}}</option>
			            </select>
					</div>
				</div>

		        <p class="btn btn-primary" ng-click="increaseTags()"> + </p>
		        <p ng-if="maxTagLength > 0" class="btn btn-primary" ng-click="decreaseTags()"> - </p>

			    <p ng-if="!input.tag" class="btn btn-primary" ng-click="showTagInput()"> Design New Tag</p>


		        <div id="addBox" ng-if="input.tag">
					Name: <input type="text" ng-model="tagPara.name"/><br>
					<div ng-if="tagPara.name && input.tag">
						<p class="btn btn-primary" ng-click="addTag()"> Create Tag </p>
					</div>
						<p class="btn btn-danger" ng-click="cancelTag()"> Cancel </p>

		        </div>

				<br>

				------------------------------------------------<br>
				<h2>Measured Parameters: </h2><br> 

				<div ng-repeat="index in measIndex">
					<div ng-if="!input.measure">
						<select class="form-control" ng-model="measVals[index].name">
			            	<option ng-selected="!measVals[index].name" value=false>---View Parameters---</option>
			                <option value="{{measure.name}}" ng-repeat="measure in measures" ng-selected="measure.name===measVals[index].name">{{measure.name.toTitleCase()}}</option>
			            </select>
			    		<div ng-if="measVals[index].name">
			    			Value: <input type="number" step="0.0001" ng-model="measVals[index].val"/>
			    		</div>
					</div>
				</div>

		        <p class="btn btn-primary" ng-click="increaseMeasures()"> + </p>
		        <p ng-if="maxMeasLength > 0" class="btn btn-primary" ng-click="decreaseMeasures()"> - </p>

			    <p ng-if="!input.measure"  class="btn btn-primary" ng-click="showMeasureInput()"> Design New Parameter</p>


		        <div id="addBox" ng-if="input.measure">
					Name: <input type="text" ng-model="measure.name"/><br>
					<div ng-if="measure.name && input.measure">
						<p class="btn btn-primary" ng-click="addMeasure()"> Create Measure </p>
					</div>
						<p class="btn btn-danger" ng-click="cancelMeasure()"> Cancel </p>

		        </div>
		        <br><br>

			</div>

		</div>
		<div id="submitButtons">
			<p class="btn btn-primary" ng-click="addExperiment()" ng-if="!editExperiment.id"> Submit</p> <br>
			<p class="btn btn-success" ng-click="updateExperiment()" ng-if="editExperiment.id"> Update Experiment {{editExperiment.id}}</p>
			<p class="btn btn-warning" ng-click="stopEditting()" ng-if="editExperiment.id"> Discard Changes to Experiment {{editExperiment.id}}</p>
		</div>
	</div>


</div>